:root {
    --bg_color: #ffb83d;
    --text_color: #711d0d;
    --border_color: #79483f;
    --font_family_1: 'Lucida Sans', Arial, 'Lucida Sans Unicode', 'Lucida Grande', 'Trebuchet MS', sans-serif;
    --font_family_2: 'Gill Sans MT', 'Gill Sans', 'Trebuchet MS', Calibri, sans-serif;
    --about_me_height: 200px;
    --big_section_width: 700px;
    --small_section_width: 350px;
    --border_width: 5px;
}
/* organized */

body {
    background-color: wheat;
    margin: 0px;
}
/* organized */

.header {
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: space-between;

    font-family: var(--font_family_1);
    color: var(--text_color);
    background-color: var(--bg_color);
}
/* organized */

.header h1 {
    display: inline-block;
    width: 20%;
    margin-left: 40px;
    margin-top: 20px;

    font-size: 48px;
}
/* organized */

.header nav {
    float: right;
    width: 40%;
    padding-top: 15px;

    font-size: 20px;
    font-family: var(--font_family_2);
}
/* organized */

.header nav ul {
    display: flex;
    justify-content: end;
    width: 80%;
}
/* organized */

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}
/* organized */

.top-menu {
    color: var(--text_color);
    text-decoration: none;
}
/* organized */

#banner {
    display: flex;
    height: 300px;
    width: 100%;
    margin: 0px;

    background-image: linear-gradient(var(--text_color), var(--bg_color));
    background-size: cover;

    justify-content: center; /* centers profile pic */
}
/* organized */

.about-me-section { /* named class this way to not have exact same name as id (about-me) */
    display:flex;
}
/* organized */

.about-me-section h2 {
    width: 20%;
    height: calc(var(--about_me_height) - 2*var(--border_width));

    padding: 50px;
    border: var(--border_width) solid var(--border_color);
    margin: 0px;
    
    font-size: 60px;
    font-family: var(--font_family_1);
    color: var(--bg_color);
    background-color: var(--text_color); /* for the areas that show the titles of sections, I have decided to invert the text and background colors */
    
}
/* organized */

.about-me-section p {
    width: 80%;
    height: calc(var(--about_me_height) - 2*var(--border_width));

    padding: 50px;
    border: var(--border_width) solid var(--border_color);
    margin: 0px;

    font-family: var(--font_family_2);
    color: var(--text_color);
    background-color: var(--bg_color);
}
/* organized */

.title-project-0 {
    display: block;
    text-indent: 20px;
}
/* organized */

.project-1-2 {
    display: flex;
    max-width: 100%;
    text-indent: 20px;
}
/* organized */

.title-settings {
    width: calc(var(--big_section_width) - 30px - 2*var(--border_width));
    height: 120px;

    padding-left: 30px;
    padding-top: 50px;
    border: var(--border_width) solid var(--border_color);
    margin: 0px;

    font-size: 60px;
    font-family: var(--font_family_1);
    color: var(--bg_color);
    background-color: var(--text_color);
    /* for the areas that show the titles of sections, I have decided to invert the text and background colors */
}
/* organized */

.project-text-settings {
    text-align: left;
    text-shadow: 3px 3px 1px black;
    text-decoration: underline;

    font-size: 30px;
    font-weight: bold;
    font-family: var(--font_family_2);
    color: var(--bg_color);
}
/* organized */

.project-0 {
    display: block;
    background: url("../Images/title_background_big.png") no-repeat, url("../Images/challenge_0_thumbnail.png");
    
    width: calc(var(--big_section_width) - 2*var(--border_width));
    height: calc(var(--big_section_width) - 2*var(--border_width));
    border: var(--border_width) solid var(--border_color);
}
/* organized */

.project-1 {
    background: url("../Images/title_background_small.png") no-repeat, url("../Images/challenge_1_thumbnail.png");
    
    width: calc(var(--small_section_width) - 2*var(--border_width));
    height: calc(var(--small_section_width) - 2*var(--border_width));
    border: var(--border_width) solid var(--border_color);
}
/* organized */

.project-2 {
    background: url("../Images/title_background_small.png") no-repeat, url("../Images/projects_in_progress_thumbnail.png");
    
    width: calc(var(--small_section_width) - 2*var(--border_width));
    height: calc(var(--small_section_width) - 2*var(--border_width));
    border: var(--border_width) solid var(--border_color);
}
/* organized */

.footer {
    display: flex;
    width: 100%;
    
    font-family: var(--font_family_1);
    color: var(--text_color);
    background-color: var(--bg_color);
}
/* organized */

.footer h3 {
    display: inline-block;
    width: 25%;

    margin-left: 40px;
    font-size: 36px;
}
/* organized */

.footer nav {
    float: right;
    width: 70%;

    padding-top: 25px;
    margin-right: 15px;

    font-size: 20px;
    font-family: var(--font_family_2);
}
/* organized */

.footer nav ul {
    display: flex;
    width: 90%;
    justify-content: end;
}
/* organized */

.footer nav ul li {
    display: inline-block;
    margin-left: 25px;
}
/* organized */