:root {
    --bg_color: #ffb83d;
    --text_color: #711d0d;
    --border_color: #79483f;
}

.boo {
    display: none;
}

body {
    background-color: #d9dcd6;
    margin: 0px;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 {
    width: 20%;
    display: inline-block;
    font-size: 48px;
    margin-left: 40px;
    margin-top: 20px;
}

.header nav {
    padding-top: 15px;
    float: right;
    width: 40%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header nav ul {
    display: flex;
    justify-content: end;
    width: 80%;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

.wooo {
    color: #ffffff;
    text-decoration: none;
}

#thingy {
    display: flex;
    height: 300px;
    background-color: #cccccc;
    background-image: linear-gradient(blue, turquoise);
    background-size: cover;
    width: 100%;
    margin: 0px;
    justify-content: center;
}

#profile-pic {
    display: flex;
    /* margin-left: auto;
    margin-right: auto; */
    
}

.about-me h2 {
    width: 20%;
    margin: 0px;
    padding: 50px;
    height: 190px;
    font-size: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #0072bb;
    background-color: #ffffff;
    border: 5px solid #79483f;
}

.about-me p {
    
    width: 80%;
    margin: 0px;
    padding: 50px;
    height: 200px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.about-me {
    display:flex;
}

figure.thingy1 {
    margin-bottom: 20px;
    padding: 50px;
    
    width: 600px;
    height: 600px;
    background-image: url("../Images/prework_study_guide.jpg");
    border: 10px solid aquamarine;
}

figure.thingy2 {
    display: block;
    
    margin-bottom: 20px;
    padding: 50px;
    
    width: 300px;
    height: 300px;
    background-image: url("../Images/accessible_seo_website.jpg");
    border: 10px solid aquamarine;
}

/*
h2 {
    text-align: center;
    justify-content: center;
    font-size: 50px;
    margin: 10px;
}
*/

.my-projects {
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
    z-index: 1;
}

#prework-study-guide {
    background-image: url("../Images/prework_study_guide.jpg");
    background-size: cover;
    width: 100%;
    height: 50vh;
}

#accessible-seo-website {
    background: url("../Images/accessible_seo_website.jpg");
    background-size: cover;
    width: 50%;
    height: 50vh;
}

#future-projects {
    background: url("../Images/project_in_development.jpg");
    background-size: cover;
    width: 50%;
    height: 50vh;
}

.thingy5 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgba(55, 55, 55, 1);
    color: green;
}

.yee {
    display: flex;
    max-width: 100%;
    text-indent: 20px;
}

.yee2 {
    display: block;
    text-indent: 20px;
}

.yeehaw {
    width: 640px;
    padding-left: 50px;
    padding-top: 50px;
    margin: 0px;
    height: 120px;
    font-size: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #0072bb;
    background-color: #ffffff;
    border: 5px solid #79483f;
}

.yeahboi {
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    color: var(--bg_color);
    text-decoration:underline;
    font-weight: bold;
    text-shadow: 3px 3px 1px black;
}

.yeti {
    display: block;
    background-repeat: no-repeat;
    background: url("../Images/title_background_big.png") no-repeat, url("../Images/challenge_0_thumbnail.png");
    width: 690px;
    height: 690px;
    border: 5px solid var(--border_color);
}

.yeti2 {
    background-repeat: no-repeat;
    background: url("../Images/title_background_small.png") no-repeat, url("../Images/challenge_1_thumbnail.png");
    width: 340px;
    height: 340px;
    border: 5px solid var(--border_color);
}

.yeti3 {
    background-repeat: no-repeat;
    background: url("../Images/title_background_small.png") no-repeat, url("../Images/projects_in_progress_thumbnail.png");
    width: 340px;
    height: 340px;
    border: 5px solid var(--border_color);
}

.footer {
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.footer h3 {
    width: 25%;
    display: inline-block;
    font-size: 36px;
    margin-left: 40px;
}

.footer nav {
    padding-top: 25px;
    float: right;
    width: 70%;
    margin-right: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.footer nav ul {
    display: flex;
    justify-content: end;
    width: 90%;
}

.footer nav ul li {
    display: inline-block;
    margin-left: 25px;
}
